body{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 50px;
}

.gameOptions{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%;
}

.gameOptions button,
.gameOptions input {
    font-size: 18px;
    padding: 5px 10px;
    margin: auto;
}

.gameOptions button {
    width: 25%;
}

.gameOptions input {
    width: 50%
}

#gameboard{
    background: green;
    width:610px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 5px;
}

.square{
    background: whitesmoke;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}