#gameboard{
    width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 5px;
}

.square{
    background: hotpink;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}